body {
    font-family: Helvetica, Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

/**
 * HEADER
 */
h1 {
    display: block;
    font-size: 32px;
    margin: 30px 0;
    padding: 0 30px;
    text-align: center;
    width: calc(100% - 60px);
}

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    margin-top: 40px;
    padding: 0 40px;
}

nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
}

nav li,
nav li span {
    display: block;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav li span {
    cursor: pointer;
}

nav li.selected span,
nav li span:active,
nav li span:hover {
    text-decoration: underline;
}

nav label {
    display: inline-block;
    margin-top: 20px;
}
/**
 * BODY
 */
article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    position: relative;
}
.counter {
    display: block;
    font-size: 28px;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
    width: calc(100% - 40px);
}
.answer {
    margin-top: 40px;
    padding: 10px;
    width: 300px;
}
.next {
    margin-top: 40px;
}

/**
 * CARD
 */
.flip-card {
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
    height: 400px;
    perspective: 1000px;
    width: 400px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    width: 100%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    height: 100%;
    padding: 10px;
    position: absolute;
    width: 100%;
    word-wrap: break-spaces;
}

/* Style the front side */
.flip-card-front {
    align-items: center;
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style the back side */
.flip-card-back {
    align-items: center;
    background-color: #C0C0C0;
    border: 1px solid #CCC;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
}